.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-color);
}

.navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: var(--primary-color);
}